extends includes/layout.pug

block content
    div#page-toc!=toc(page.content)
    article#article!=page.content
    include includes/pagination.pug
    if page.comments !== false && theme.comments && theme.comments.use
        !=partial('includes/third-party/comments/index', {}, {cache: true})