div#post-comment
    div#comment-wrap
        each name in theme.comments.use
            case name
                when 'Valine'
                    div#vcomment.vcomment
                        !=partial('includes/third-party/comments/valine', {}, {cache: true})