- var pageTitle = theme.blog_info.author + "'s blog"

doctype html
html(lang=config.language)
    head
        include ./head.pug

    body
        if page.type !== '404'
            div#body-wrap
                include ./header/index.pug

                main#main-inner(class=layout)
                    block content

                footer#footer
                    !=partial('includes/footer', {}, {cache: true})
        else
            include ./404.pug

        script(src="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/components/prism-core.min.js")
        script(src="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/plugins/autoloader/prism-autoloader.min.js")
        script(type="text/x-mathjax-config").
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [["$","$"], ["\\(","\\)"]],
                    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
                    processEscapes: true
                }
            });
            MathJax.Hub.Queue(function() {
                var all = MathJax.Hub.getAllJax();
                for (var i = 0; i < all.length; ++i)
                    all[i].SourceElement().parentNode.className += ' has-jax';
            });
        script(src="https://cdn.jsdelivr.net/npm/mathjax@2.7.8/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
        script(src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js")
