#footer
    position: relative
    background: white
    background-position: bottom 
    background-size: cover

#footer-wrap
    position: relative
    padding: 40px 20px
    text-align: center

    div
        margin: 10px

    #framework-info
        position: relative

    #site-pv-info
        position: relative

    a
        color: $dark-blue
        text-decoration: none
        display: inline
        
        &:hover
            color: $light-blue
            text-decoration: underline
    
    p
        display: inline