body
    position: relative
    width: 100%
    margin: 0

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    span,
    div
        font-family: "Libre Baskerville",Baskerville,Georgia,"Noto Serif CJK SC",STSong,SimSun,serif



*::-webkit-scrollbar
    width: 8px
    height: 8px

*::-webkit-scrollbar-thumb
    background: $light-grey

*::-webkit-scrollbar-track
    background-color: transparent